html {
  box-sizing: border-box;
}

*, *:before,*:after{
  box-sizing: inherit;
}

*{
    font-family: D-DIN-Regular,Arial,Verdana,sans-serif;
    color: black;
}

body{
  background-color: black;
  color:white;
  margin: 0px;
  height: 100vh;
  padding: 25px;
}

main{
    display: grid;
    grid-template-columns: calc(20% - 25px) calc(80% - 25px);
    grid-template-rows: calc(20% - 25px) calc(80% - 25px);
    grid-gap: 25px;
    align-items: center;
    height: 100%;  
}

nav{
  font-size:16px;
  min-height: 80px;
  line-height: 80px;
  color:white;
  margin-top:50px;
}

nav ul {
  float
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li{
  display:inline;
  }

a {
  color:white;
  text-decoration: none;
  padding: 10px;
  }

a.active{
  color:white;
  text-decoration: underline;
}

a:hover{
  color:#434343;
}

#lat,#lon,#test,.locationTest{
color:black;
}

.locationTest{

  margin-right: 0;
}

#logo{
  float:left;
  max-width:300px;
  margin-bottom:-50px;
  margin-left:40px;
}

.hidden {
  display: none;
}

#place{
  color:black;
}

.testStyle{
  color:white;
}

#weather{
  color:white;
  font-size: 20px;
  text-decoration: underline;
}

#fly {
display: block;
position: relative;
margin: 0px auto;
width: 50%;
height: 40px;
padding: 10px;
border: none;
border-radius: 3px;
text-align: center;
color: #fff;
background: #ee8a65;
}

.mapSection{
    border: 7px solid white;
    width: 100%;
    height: 100%;  
}

#top{
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
}
#top img{
    display: inline;
    height: 40px;
}
#top p{
    display: inline;
}
#jef{
    grid-column: 2/3;
    grid-row: 2/3;
}
#options{
    grid-column: 1/2;
    grid-row: 2/3;
}

@media only screen and (min-width: 834px) and (max-width: 1279px) {
}
@media only screen and (min-width: 1280px) and (max-width: 1919px) {
}
@media only screen and (min-width: 1920px) {
}
